/* FuzzyBubbles-Bold */
@font-face {
    font-family: 'FuzzyBubbles';
    font-style: auto;
    font-weight: 400;
    font-display: swap;
    src: url(../font/FuzzyBubbles-Bold.ttf) format('truetype');
}
/* Smooch-Regular */
@font-face {
    font-family: 'Smooch-Regular';
    font-style: auto;
    font-weight: 400;
    font-display: swap;
    src: url(../font/Smooch-Regular.ttf) format('truetype');
}
/* Redacted */
@font-face {
    font-family: 'Redacted';
    font-style: auto;
    font-weight: 400;
    font-display: swap;
    src: url(../font/Redacted-Regular.ttf) format('truetype');
}

/* Imagenes ahorcado */
#cero {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -1.75px 0;
}
#uno {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -79.75px, 0;
}
#dos {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -158.75px 0;
}
#tres {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -236.75px 0;
}
#cuatro {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -314.75px 0;
}
#cinco {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -392.75px 0;
}
#sies {
    width: 78.15px;
    height: 92px;
    border: 1px black solid;
    background: url('../img/ahorcados.jpg') -471.75px 0;
}


* {
    font-family: FuzzyBubbles, serif;
}
#titulo {
    font-family: Smooch-Regular, serif;
    font-size: 150px;
    text-shadow: 20px 2px 10px;
}
#tablaPartidas {
    box-shadow: 20px 10px 10px;

}
#tablaPartidas, th {
    border-radius: 10px;
}
#principal {
    width: 60%;
}

#tapado {
    font-family: Redacted, serif;
}
#intentos {
    font-family: Smooch-Regular, serif;
    font-size: 60px;
}
#letras-falladas, #letras-acertadas {
    text-transform: uppercase;
}
#letras-acertadas {
    font-size: 50px;
}
#letras-falladas {
    font-size: 30px;
}
