<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ahorcado Spring</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

    <h1>Esta es la version Spring del juego del ahorcado</h1>

    <table>
        <thead>
            <th>Numero partida</th>
            <th>Palabra oculta</th>
            <th>Letras acertadas</th>
            <th></th>
        </thead>
        <tbody>
        <tr th:each="partida : ${partidas}">
            <td th:text="${partida.id}"></td>
            <td th:text="${partida.palabraOculta}"></td>
            <td th:text="${partida.letras}"></td>
            <td><a href="" th:href="@{/partida/{id}(id=${partida.id})}">Jugar</a></td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>

</body>
</html>