<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ahorcado Spring</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

    <h1>Esta es la version Spring del juego del ahorcado</h1>

    <table>
        <thead>
            <th>Numero partida</th>
            <th>Palabra oculta</th>

            <th></th>
        </thead>
        <tbody>
        <tr th:each="partida : ${partidas}">
            <td th:text="${partida.id}"></td>
            <td th:text="${partida.letrasAcertadas}"></td>
            <td><a href="" th:href="@{/partida/{id}(id=${partida.id})}">Jugar</a></td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>

    <form action="/nueva" method="post"
          th:action="@{/nueva}">
        <div class="form-group">
            <label> Introduce una nueva palabra:
                <input class="form-control" type="text" th:name="palabra" th:id="palabra"/>

            </label>
        </div>
        <br>
        <input name="enviar" type="submit" value="Enviar palabra"/>
    </form>


    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>