<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partida</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <h3 id="intentos" class="col-10 m-auto text-center" th:text="'Intentos: ' + ${partida.intentos}"></h3>
            </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-2">
                        <p th:id="${partida.intentos}"><img src="../static/img/FFFFFF.png" th:src="@{/img/FFFFFF.png}"></p>
                    </div>
                    <div class="col-6">
                        <p>LETRAS FALLADAS:</p>
                        <div id="letras-falladas" th:text="${partida.letrasFalladas}"> </div>
                    </div>
                </div>
                        <div class="row">
                            <div class="col">
                                <p id="letras-acertadas" class="col align-self-end text-center">
                                <span th:each="letra : ${partida.letrasAcertadas.split('')}"
                                      th:switch="${letra}">
                                    <span th:case="'_'" id="tapado" th:text="${letra}"></span>
                                    <span th:case="*" th:text="${letra}"></span>
                                </span>
                                </p>
                            </div>
                        </div>
                <div class="row">
                    <div class="col col-sm-4 m-auto">
                        <form action="#" method="post"
                              th:action="@{/partida/{id}(id=${partida.id})}"
                              th:object="${partida}">
                            <label> Introduce una letra:
                                <input class="form-control" type="text" th:name="letra" th:id="letra" minlength="1" maxlength="1"/>
                            </label>
                            <input th:field="*{id}" type="hidden" th:value="${partida.id}" th:name="id" th:id="id" placeholder="Introduce una letra"/>
                            <br>
                            <input name="enviar" type="submit" value="Enviar letra"/>
                        </form>
                        <div id="respuesta" th:text="${respuesta}"> </div>
                    </div>
                </div>
            </div>
        </div>



    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>