<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partida</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

    <h3 th:text="'Usted tiene ' + ${partida.intentos} + ' intentos'">hola</h3>
    <p th:id="${partida.intentos}"><img src="../static/img/FFFFFF.png" th:src="@{/img/FFFFFF.png}"></p>
    <p id="letrasAcertadas" th:text="${letrasAcertadas}"> </p>
    <form action="#" method="post"
    th:action="@{/partida/letra}"
    th:object="${partida}">
        <label> Introduce una letra:
            <input class="form-control" type="text" th:name="letra" th:id="letra" minlength="1" maxlength="1"/>
        </label>
        <input th:field="*{id}" type="hidden" th:value="${partida.id}" th:name="id" th:id="id" placeholder="Introduce una letra"/>

        <br>
        <input name="letra" type="submit" value="Enviar letra"/>
    </form>


</body>
</html>